
/******** BUTTONS WITH TRANSPARENT BACKGROUND COLOR AND WITH GREY BORDER START *********/

.simple-button-style {
  border: 1px solid #e9e9e9;
  color: #000000;
  text-transform: uppercase;
  font-family: "RobotoRegular";
  font-size: 14px;
  display: block;
  padding: 15px 30px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  width: max-content;
  text-align: center;
}

.add-to-bag-btn.simple-button-style {
  padding: 15px 15px;
  margin: 0 auto;
  margin-top: 20px;
}

/******** BUTTONS WITH TRANSPARENT BACKGROUND COLOR AND WITH GREY BORDER END *********/