@import "../less/_Theme";
/***************************CLP************************/
.section {
  margin-right: 0;
  margin-left: 0;

  .right .description .name {
    @media @xs {
      color: @white-color;
    }
  }
  & > div {
    padding: 0;
  }
  .main-img {
    position: relative;
    padding: 0;
    overflow: hidden;
    height: 0;
    padding-bottom: 100%;

    &.rectangle-lg {
      padding-bottom: 50%;

      @media @xs {
        padding-bottom: 100%;
      }
      @media @mb-landscape {
        padding-bottom: 50%;
      }
    }
    &.square-lg {
      padding-bottom: 100%;
    }
    @media @mb-landscape {
      padding-bottom: 50%;
    }
    img {
      height: auto;
      width: 100%;
      position: absolute;
      left: -50%;
      top: -50%;
      bottom: -50%;
      right: -50%;
      margin: auto;
      max-width: none;

      @media @xs {
        height: 100%;
        width: auto;
      }
      @media @mb-landscape {
        height: auto;
      }
    }
  }
  .divided {
    color: @white-color;

    .main-img {
      @media @xs {
        width: 50%;
        height: auto;
      }
    }
    .description {
      padding: 20px 10px 20px;
      z-index: 9;

      .name {
        @media @xs {
          font-size: 40px;
          text-align: left;
          max-width: 180px;
        }
      }
    }
  }

  .description {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    @media @xs {
      top: auto;
      bottom: 0;
    }

    .name {
      text-transform: uppercase;
      font-family: 'RobotoLight';
      font-size: 48px;

      @media @xs {
        font-size: 26px;
      }
    }
    h2.name2{
      letter-spacing: -1px;
      line-height: 51px;
    }
    h2.name3{
      margin-top: 50px;
      letter-spacing: -3px;
    }
    h2.name4{
      margin-top: 7px;
      letter-spacing: -0.4px;
      font-size: 38px;
    }
    .short-name {
      text-transform: uppercase;
      font-family: 'RobotoLight';
      margin-top: 0;
      @media @xs {
        display: none;
      }
    }
    h4.short-name2{
      margin-top: 14px;
      letter-spacing: 0.8px;
      margin-bottom: 7px;
    }
    .action {
      @media @xs {
        display: none;
      }
    }
    .short-descr {
      font-family: 'RobotoMedium';
      color: @white-color;
      width: 100%;
      display: block;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 25px;
      margin-top: 14px;
      letter-spacing: -0.4px;
      @media @xs {
        display: none;
      }
    }
    .action {
      a {
        //min-width: 150px;
        margin-bottom: 10px;
        padding: 14px 21px;
        color: @white-color;
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        text-decoration: none;
        border: 1px solid @white-color;
        transition: 0.3s;

        &:hover {
          color: @main-black-color;
          background: @white-color;
          transition: 0.3s;
        }
      }
    }
  }

  .separate-txt-xs {
    .main-img {
      @media @xs {
        height: auto;
        padding-bottom: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
      }
      img {
        @media @xs {
          max-height: 220px;
          position: static;
          width: 100%;
          height: 100%;
          object-fit: cover;
          -o-object-fit: cover;
        }
        @media @mb-landscape {
          max-height: 400px;
        }
      }
    }
    .main-img .short-name,
    .hero-img .short-name {
      @media @xs {
        display: block;
      }
    }
    .description {
      @media @xs {
        position: relative;
        text-align: left;
      }
      .name {
        font-family: 'PlayfairDisplayRegular';
        font-size: 55px;
        @media @xs {
          margin: 5px 0 10px;
          font-size: 35px;
        }
      }
      .action {
        @media @xs {
          display: inline-block;
        }
      }
    }
  }

  &:not(.hero) .separate-txt-xs {
    .description {
      @media @xs {
        background: @main-black-color;
        color: @white-color;
      }
    }
  }

  &.hero .separate-txt-xs {
    .hero-img {
      overflow: hidden;
      max-height: 548px;

      img {
        width: 100%;
        height: 100%;

        @media @mb-portrait {
          max-height: 220px;
        }
        @media @mb-landscape {
          max-height: 400px;
        }
      }

      .short-name {
        color: @white-color;
      }

      .action a {
        @media @xs {
          color: @main-black-color;
          border-color: @main-black-color;
        }
        &:hover {
          @media @xs {
            color: @white-color;
            background: @main-black-color;
            transition: 0.3s;
          }
        }
      }

      .description {
        text-align: left;
        .short-name {
          letter-spacing: 0.9px;
          @media @xs {
            color: @main-black-color;
          }
        }
      }
      .description .name {
        font-size: 60px;
        color: @white-color;
        line-height: 49px;
        margin-top: 14px;

        @media @xs {
          font-size: 35px;
          color: @main-black-color;
        }
      }
    }
  }

  .video {
    &.main-img img {
      @media @xs {
        left: auto;
      }
    }
    .description .action {
      a {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        min-width: unset;
        line-height: 45px;
        font-size: 30px;
        position: relative;
        display: block;
        margin: 0 auto;

        &:hover {
          background: transparent;
          color: @main-black-color;
          transition: 0.3s;
        }
      }
      i {
        position: relative;
        left: 4px;
        top: 5px;
        background: url("@{path-image_default}/homepage-sprite.png") no-repeat;
        background-position: 0px -110px;
        display: inline-block;
        width: 30px;
        height: 30px;
      }
    }
    .description {
      @media @xs {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .name {
        @media @xs {
          display: none;
        }
      }
    }
    .action,
    .short-descr {
      @media @xs {
        display: block;
      }
    }
  }

  .short-descr {
    @media @xs {
      position: absolute;
      bottom: 0;
      max-width: 125px;
      text-align: left;
    }
  }
}
.catalog{
  .hero.fixed{
    padding-top: 0;
  }
  .section .main-img img{
    width: 100%;
    object-fit: cover;
  }
  .precatalog_headline{
    text-align: center;
    padding: 46px 0 40px;
    .headline_h3{
      font-family: 'RobotoLight';
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    .headline_h1{
      font-size: 60px;
      text-transform: uppercase;
      font-family: "PlayfairDisplayRegular";
    }
  }
  .section.hero .separate-txt-xs .hero-img .description.center-text{
    text-align: center;
    display: flex;
    align-items: center;
    bottom:0;
    top:auto;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .section.hero .separate-txt-xs .hero-img .description .name{
    color: @main-black-color;
    margin: 10px 0 15px 0;
  }
  .section.hero .separate-txt-xs .hero-img .short-name{
    color: @main-black-color;
  }
  .section .description .action .first-btn{
    border-color: @main-black-color;
    color: @main-black-color;
  }
  .section .description .action .first-btn:hover{
    background-color: @main-black-color;
    color: @white-color;
  }
  .section .description.center-text{
    padding-top: 0;
  }
  .hero-img{
    margin-top: -2px;
    border-top: 1px solid @white-color;
  }
  .f-size_hero .description .action{
    display: flex;
    align-items: left;
    flex-direction: column;
  }
  .section .description .action a{
    color: @main-black-color;
    text-align: center;
    width: 188px;
  }
  .section.hero .separate-txt-xs .hero-img .description{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
    max-width: 320px;
  }
  .section.hero .separate-txt-xs .hero-img.bg-b .action a{
    width: 188px;
  }
  .section.hero .separate-txt-xs .hero-img .description.center-text span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
  }
  .section.hero .separate-txt-xs .hero-img .description.center-text span a:first-child{
    margin-right: 10px;
  }
  .hero-element  .separate-txt-xs .hero-img{
    max-height: 100%;
    .description{
      padding: 20px 20px 47px 20px;
      .name{
        font-size: 55px;
        letter-spacing: -0.2px;
      }
    }
    .description.center-text{
      max-width: 100%;
    }
    .description.center-text span.action{
      width: auto;
      a{
        padding: 0;
        height: 42px;
        width: 157px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .description.base-element{
      right: 25px;
      max-width: 500px;
      span.action{
        a{
          width: 157px;
          height: 42px;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .name{
        font-size: 75px;
        line-height: 63px;
      }
    }
  }
  @media (max-width: 1150px){
    .hero-element .separate-txt-xs .hero-img .description.base-element{
      right: 0;
      max-width: 380px;
    }
    .hero-element .separate-txt-xs .hero-img .description.base-element .name{
      font-size: 55px;
    }
  }
  @media (max-width: 991px){
    .section .description .action .first-btn{
      margin-right: 0;
    }
  }
  @media (max-width: 767px){
    .section.hero .separate-txt-xs .hero-img .description.base-element{
      //margin: 0 auto;
      width: 100%;
      padding: 20px;
      align-items: flex-start;
    }
    .section.hero .separate-txt-xs .hero-img .description.base-element .name{
      margin: 0 0 17px 0!important;
      line-height: 1.0;
    }
    .section.hero .separate-txt-xs .hero-img .description.base-element span{
      flex-direction: initial;
      display: flex;
    }
    .section.hero .separate-txt-xs .hero-img img{
      width: 100%;
      height: auto;
      max-height: 100%;
    }
    .bg-b{
      background-color: @main-black-color;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b{
      color: @white-color;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .description .short-name,
    .section.hero .separate-txt-xs .hero-img.bg-b .description .name,
    .section.hero .separate-txt-xs .hero-img.bg-b .action a{
      color: @white-color;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .action a{
      border-color: @white-color;
    }
    .section.hero .separate-txt-xs .hero-img .description.center-text{
      padding: 20px;
      align-items: flex-start;
    }
    .section.hero .separate-txt-xs .hero-img .description{
      padding: 10px;
      align-items: center;
    }
    .section.hero .separate-txt-xs .hero-img .description .name{
      margin: 0 0 15px 0;
    }
    .nav-sections > .container{
      display: block;
    }
    .section .separate-txt-xs .description .action{
      text-align: center;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .description .name{
      text-align: center;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .action a.last-btn,   .section.hero .separate-txt-xs .hero-img .action a.last-btn{
      border-color: #4b4b4b;
    }
    .section .description .action .first-btn{
      margin-right: 10px;
    }
    .hero-element .separate-txt-xs .hero-img .description .name{
      font-size: 35px!important;
    }
  }
  @media (max-width: 440px){
    .section.hero .separate-txt-xs .hero-img .description.center-text{
      width: 100%;
      align-items: flex-start;
      transform: none;
      left: auto;
      margin: 0 auto;
    }
    .section.hero .separate-txt-xs .hero-img .description.center-text span a:first-child{
      margin-right: 0;
    }
    .section.hero .separate-txt-xs .hero-img .action a{
      font-size: 12px;
    }
    .section.hero .separate-txt-xs .hero-img .description{
      width: 300px;
      margin: 0 auto;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .description .name{
      text-align: left;
    }
    .section .separate-txt-xs .description .action{
      width: 300px;
      flex-direction: initial;
      display: flex;
    }
    .section .description .action .first-btn{
      margin-right: 0;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .action a, .section .description .action a{
      min-width: 140px;
    }
    .section .separate-txt-xs .description .action, .section.hero .separate-txt-xs .hero-img .description.center-text span{
      width: 280px;
    }
  }
  @media (max-width: 430px){
    .precatalog_headline .headline_h1{
      font-size: 40px;
    }
    .precatalog_headline{
      padding: 17px 0;
    }
  }
}
@media (max-width: 400px){
  .page-footer .copyrights .links a {
    font-size: 13pt;
    letter-spacing: 0.2px;
  }
}
@media (max-width: 350px){
  .page-footer .copyrights .links a {
    font-size: 11pt;
  }
}
/***************************Page HTML END**************************/