.in-product{
  margin-top: 50px;
  .in_bg-popup{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 60px;
    margin-bottom: 62px;
  }
  .block-in_video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 62px;
      &-left{
        width: 380px;
        h3{
          font-family: "PlayfairDisplayRegular";
          font-size: 34px;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 40px;
        }
        p{
          font-size: 16px;
          font-family: "GothamProMedium";
          line-height: 1.8;
        }
      }
  }
}
.ingredients-block{
  padding: 62px 0;
  background-color: #f5f5f5;
  &-left{
    width: 380px;
  }
}
.wrap-ingredients{
  max-width: 1220px;
  margin: 0 auto;

}
.flex-status{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ingredients-left{
  //width: 380px;
}
.ingredients-left_headline{
  text-transform: uppercase;
  margin-bottom: 42px;
  font-family: "RobotoLight";
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}
.ingredients-list{
  margin-bottom: 32px;
  &_headline{
    font-family: "RobotoLight";
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }
  &_text{
    font-family: "RobotoMedium";
    font-size: 14px;
    line-height: 1.8;
  }
}
.ingredients-right{
  //width: 740px;
}
.gl-info{
  font-family: "RobotoMedium";
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 19px;
}
.gl-img{
  margin-left: 10px;
}
.ingredients-list_r{
  margin-bottom: 23px;
}
.claims{
  font-family: "RobotoMedium";
  font-size: 14px;
  line-height: 1.8;
    span{
      font-family: "RobotoLight";
      font-weight: 300;
      text-transform: uppercase;
    }
}
.like_product-headline{
  font-family: "RobotoLight";
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}
.block-like_product{
  padding: 60px 0 30px;
}
.block-comment{
  background-color: #f5f5f5;
  width: 100%;
  padding: 60px 0 50px;
    .commnet-product_headline{
      text-align: center;
      .comment-headline_top, .comment-headline_bot{
        font-family: "RobotoLight";
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
      }
      img{
        margin-top: 26px;
        margin-bottom: 28px;
      }
      .comment-headline_btn{
        width: 158px;
        height: 40px;
        border: 1px solid #464646;
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000000;
        margin: 40px auto 50px;
      }
    }
}
.comment-list{
    .list-element{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      border-bottom: 1px solid #e0e0e0;
      padding: 40px 0 22px;
    }
    .comment-user{
      width: 110px;
    }
    .comment-star{
      width: 100px;
      margin-bottom: 30px;
    }
  .block_user-info{
    margin-bottom: 19px;
    .user-top{
      font-size: 14px;
      font-family: "RobotoRegular";
      margin-bottom: 6px;
    }
    .user-bot{
      font-family: "RobotoLight";
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .comment-text{
    max-width: 955px;
    width: 100%;
  }
  .comment-text_headline{
    font-family: "RobotoLight";
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
      span{
        margin-left: 20px;
        font-family: "RobotoLight";
        font-weight: 300;
        font-size: 12px;
      }
  }
  .comment-text_info, .recommend{
    font-family: "RobotoMedium";
    font-size: 14px;
    line-height: 1.8;
  }
  .comment-text_info{
    margin-bottom: 28px;
  }
  .check-commet{
    margin-right: 10px;
  }
}
.comment-list:first-child{
  border-top: 1px solid #e0e0e0;
}
.comment-more_btn{
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #c2c2c2;
  color: #000000;
  width: 118px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}