@import "../less/_Theme.less";

.ld-top-info-wrapper {
  display: block;
  padding-top: 50px;
  padding-bottom: 57px;
  border-bottom: 1px solid #e0e0e0;
  clear: both;
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .left-side {
    margin-top: 6px;
    max-width: 386px;
    width: 100%;
    display: inline-block;
    clear: both;
    .top-title {
      display: block;
      font-size: 15px;
      line-height: 36px;
      text-transform: uppercase;
      font-family: "RobotoLight";
    }
    .top-header {
      display: block;
      font-size: 45px;
      line-height: 41px;
      text-transform: uppercase;
      font-family: "PlayfairDisplayRegular";
    }
    .text {
      display: block;
      margin-top: 33px;
      font-size: 16px;
      line-height: 27px;
      font-family: "Gotham-Medium";
    }
    .simple-button-style {
      margin-top: 34px;
    }
  }
  .right-side {
    max-width: 740px;
    width: 100%;
    float: right;
    display: inline-block;
    clear: both;
    .img-video-block{
      img {
        max-width: 100%;
      }
    }
  }
}

.bring-look-wrapper,
.bring-look-big-wrapper {
  margin-top: 43px;
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 57px;
  border-bottom: 1px solid #e0e0e0;
  .top-header {
    display: block;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-family: "RobotoLight";
    letter-spacing: 0.8px;
  }
  .steps-block-small {
    width: 100%;
    margin-top: 40px;
    display: block;
    float: left;
    clear: both;
    position: relative;
    .left-side{
      display: inline-block;
      float: left;
      width: 100%;
      max-width: 554px;
      vertical-align: middle;
      position: absolute;
      top: calc(~"50% + 32px");
      transform: translateY(-50%);
      left: 45px;
    }
    .right-side {
      display: inline-block;
      float: right;
      width: 100%;
      max-width: 538px;
      vertical-align: middle;
      .steps-list-small {
        margin-top: 3px;
        li {
          list-style: none;
          margin-top: 28px;
          &:first-child {
            margin-top: 0;
          }
          .step-header {
            font-family: "RobotoLight";
            text-transform: uppercase;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 1px;
          }
          .description {
            font-family: "RobotoRegular";
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.1px;
            .bold {
              font-family: "RobotoMedium";
            }
          }
        }
      }
      .simple-button-style {
        margin-top: 33px;
        width: 186px;
      }
    }
  }
}

.bring-look-big-wrapper {
  .steps-block-small {
    .left-side {
      max-width: 800px;
      vertical-align: middle;
       position: initial;
       top: initial;
       transform: none;
       left: initial;
      img {
        max-width: 100%;
      }
    }
    .right-side {
      max-width: 365px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.all-catalog_product {
  padding-bottom: 50px;
  .add-all-items.simple-button-style {
    margin: 36px auto 0 auto;
    max-width: 220px;
    width: 100%;
  }
}

.tips-slider-wrapper {
  padding: 51px 0 62px 0;
  border-top: 1px solid #e0e0e0;
  margin-top: 9px;
  .tips-slider-wrapper-header {
    font-family: "RobotoLight";
    font-size: 24px;
    color: #000;
    display: block;
    text-align: center;
    margin: 0 auto 30px auto;
    max-width: 400px;
    width: 100%;
    text-transform: uppercase;
    line-height: 34px;
    letter-spacing: 0.7px;
  }
}

.tips-slider {
  .tips-slider-item {
    text-align: center;
    .img-block {
      overflow: hidden;
      max-width: 258px;
      width: 100%;
      display: block;
      margin: 0 auto;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .title {
      display: block;
      font-family: "RobotoLight";
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      margin-top: 13px;
      color: #000;
      min-height: 18px;
    }
    .description {
      display: block;
      font-family: "RobotoBold";
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      letter-spacing: 0px;
      max-width: 220px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.the-look-ease-popup-wrapper {
  .header {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: "RobotoLight";
    font-size: 24px;
    margin: 0 auto;
    padding: 0;
  }
  .items-wrapper {
    border-bottom: 3px solid #e0e0e0;
    margin-top: 57px;
    .all-catalog_product {
      margin: 0;
      padding: 0;
    }
    .product-element {
      width: 100%;
      margin: 0;
      min-height: initial;
      border-top: 1px solid #e0e0e0;
      padding: 20px 0;
    }
    .product-element_img,
    .product-text {
      display: inline-block;
      vertical-align: top;
    }
    .product-text {
      text-align: left;
      margin-left: 18px;
    }
    .product-element_img {
      width: 150px;
      height: 150px;
    }
    .product-name {
      line-height: 18px;
      font-size: 15px;
      //margin-bottom: 20px;
    }
    select {
      width: 100%;
      max-width: 365px;
    }
    .product-element {
      position: relative;
      padding-right: 80px;
      .price-block {
        position: absolute;
        bottom: 18px;
        right: 0;
        .product-old-price{
          margin-right: 18px;
          text-decoration: line-through;
          color: #7d7d7d;
        }
        .product-old-price,
        .product-money {
          font-family: "RobotoLight";
          font-size: 18px;
          display: inline-block;
        }
      }
      .remove-btn {
        position: absolute;
        top: 33px;
        right: 0;
        text-transform: uppercase;
        color: #000;
        font-family: "RobotoLight";
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        line-height: 10px;
        cursor: pointer;
        img {
          width: 11px;
          height: 11px;
          display: inline-block;
          vertical-align: top;
          margin-left: 9px;
        }
      }
    }
  }
  .wSelect-options-holder {
    box-sizing: content-box;
    left: -1px;
  }
  .wSelect-option-value {
    margin: 0 12px;
  }
  .wish-btn {
    margin-top: 40px;
    margin-left: 0;
    text-transform: uppercase;
    color: #010101;
    width: auto;
    padding-left: 30px;
    line-height: 16px;
  }
  .mCustomScrollBox {
    width: 100%;
  }
  .all-catalog_product-scroll {
    height: 474px;
  }
  .mCSB_draggerRail {
    background-color: transparent!important;
  }
  .mCSB_dragger_bar {
    background-color: #999999!important;
    opacity: 1!important;
    border-radius: 4px;
    width: 7px;
  }
  .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCSB_dragger .mCSB_dragger_bar {
    background-color: #999999!important;
    opacity: 1!important;
  }
}