@import "../less/_Theme.less";

.ld-top-info-wrapper {
  display: block;
  padding-top: 50px;
  padding-bottom: 57px;
  border-bottom: 1px solid #e0e0e0;
  clear: both;
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .left-side {
    margin-top: 6px;
    max-width: 386px;
    width: 100%;
    display: inline-block;
    clear: both;
    .top-title {
      display: block;
      font-size: 15px;
      line-height: 36px;
      text-transform: uppercase;
      font-family: "RobotoLight";
    }
    .top-header {
      display: block;
      font-size: 45px;
      line-height: 41px;
      text-transform: uppercase;
      font-family: "PlayfairDisplayRegular";
    }
    .text {
      display: block;
      margin-top: 33px;
      font-size: 16px;
      line-height: 27px;
      font-family: "Gotham-Medium";
    }
    .simple-button-style {
      margin-top: 34px;
    }
  }
  .right-side {
    max-width: 740px;
    width: 100%;
    float: right;
    display: inline-block;
    clear: both;
    .img-video-block{
      img {
        max-width: 100%;
      }
    }
  }
}

.bring-look-wrapper {
  margin-top: 43px;
  display: block;
  float: left;
  clear: both;
  width: 100%;
  padding-bottom: 57px;
  border-bottom: 1px solid #e0e0e0;
  .top-header {
    display: block;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-family: "RobotoLight";
    letter-spacing: 0.8px;
  }
  .steps-block-small {
    width: 100%;
    margin-top: 40px;
    display: block;
    float: left;
    clear: both;
    position: relative;
    .left-side{
      display: inline-block;
      float: left;
      width: 100%;
      max-width: 554px;
      vertical-align: middle;
      position: absolute;
      top: calc(~"50% + 32px");
      transform: translateY(-50%);
      left: 45px;
    }
    .right-side {
      display: inline-block;
      float: right;
      width: 100%;
      max-width: 538px;
      vertical-align: middle;
      .steps-list-small {
        margin-top: 3px;
        li {
          list-style: none;
          margin-top: 28px;
          &:first-child {
            margin-top: 0;
          }
          .step-header {
            font-family: "RobotoLight";
            text-transform: uppercase;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 1px;
          }
          .description {
            font-family: "RobotoRegular";
            font-size: 16px;
            line-height: 28px;
            letter-spacing: -0.1px;
            .bold {
              font-family: "RobotoMedium";
            }
          }
        }
      }
      .simple-button-style {
        margin-top: 33px;
        width: 186px;
      }
    }
  }
}

.all-catalog_product {
  padding-bottom: 50px;
  .add-all-items.simple-button-style {
    margin: 36px auto 0 auto;
    max-width: 220px;
    width: 100%;
  }
}

.tips-slider-wrapper {
  padding: 51px 0 62px 0;
  border-top: 1px solid #e0e0e0;
  margin-top: 9px;
  .tips-slider-wrapper-header {
    font-family: "RobotoLight";
    font-size: 24px;
    color: #000;
    display: block;
    text-align: center;
    margin: 0 auto 30px auto;
    max-width: 400px;
    width: 100%;
    text-transform: uppercase;
    line-height: 34px;
    letter-spacing: 0.7px;
  }
}

.tips-slider {
  .tips-slider-item {
    text-align: center;
    .img-block {
      overflow: hidden;
      max-width: 258px;
      width: 100%;
      display: block;
      margin: 0 auto;
      img {
        max-width: 100%;
        width: 100%;
      }
    }
    .title {
      display: block;
      font-family: "RobotoLight";
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      margin-top: 13px;
      color: #000;
      min-height: 18px;
    }
    .description {
      display: block;
      font-family: "RobotoBold";
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      color: #000;
      text-decoration: none;
      letter-spacing: 0px;
      max-width: 220px;
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
  }
}
