@import "../less/_Theme";
/***************************Meet-Trish************************/
.wrap-meet {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.meet-element_global {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.meet-element_1 {
  margin-top: 49px;
  .meet_left {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    .headline {
      font-size: 60px;
      text-transform: uppercase;
      font-family: "PlayfairDisplayRegular";
      letter-spacing: 0px;
      margin-top: 48px;
      margin-bottom: 29px;
      span {
        font-size: 15px;
        text-transform: uppercase;
        font-family: "RobotoLight";
        font-weight: 300;
        display: block;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
      }
    }
    .meet-text {
      font-size: 16px;
      margin-bottom: 29px;
      line-height: 1.6;
      letter-spacing: 1.2px;
      font-family: "RobotoMedium";
    }
  }
}
.meet-element_2 {
  flex-direction: row-reverse;
  .meet_left {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    .headline {
      font-size: 34px;
      text-transform: uppercase;
      font-family: "RobotoLight";
      font-weight: 300;
      letter-spacing: 0px;
      margin-top: 48px;
      margin-bottom: 29px;
      span {
        font-size: 15px;
        text-transform: uppercase;
        font-family: "RobotoLight";
        font-weight: 300;
        display: block;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
      }
    }
    .meet-text {
      font-size: 16px;
      margin-bottom: 29px;
      line-height: 1.6;
      letter-spacing: 1.2px;
      font-family: "RobotoMedium";
    }
    & > img{
      height: 420px;
    }
  }
  .meet-right{
    & > img{
      position: relative;
      top: -34px;
    }
    .headline {
      font-size: 34px;
      text-transform: uppercase;
      font-family: "RobotoLight";
      font-weight: 300;
      letter-spacing: 0px;
      margin: 48px auto 29px;
      max-width: 400px;
      width: 100%;
      span {
        font-size: 15px;
        text-transform: uppercase;
        font-family: "RobotoLight";
        font-weight: 300;
        display: block;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
      }
    }
    .meet-text {
      font-size: 16px;
      margin-bottom: 29px;
      line-height: 1.6;
      letter-spacing: 1.2px;
      font-family: "RobotoMedium";
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
  }
}



/***************************Page HTML END**************************/