@import "../less/_Theme";
/***************************My Account************************/
.wrap-account{
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.my-account-block{
  margin-top: 80px;
  .my-account_left{
    max-width: 210px;
    width: 100%;
    .headline{
      font-size: 16px;
      font-family: "RobotoMedium";
      text-transform: capitalize;
      border-bottom: 1px solid #000000;
      letter-spacing: 1px;
      padding-bottom: 30px;
    }
  }
}

/***************************Page HTML END**************************/