/***************************Page HTML************************/
.catalog{
  .hero.fixed{
    padding-top: 0;
  }
  .section .main-img img{
    width: 100%;
    object-fit: cover;
  }
  .precatalog_headline{
    text-align: center;
    padding: 46px 0 40px;
    .headline_h3{
      font-family: 'RobotoLight';
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
    .headline_h1{
      font-size: 60px;
      text-transform: uppercase;
      font-family: "PlayfairDisplayRegular";
    }
  }
  .section.hero .separate-txt-xs .hero-img .description.center-text{
    text-align: center;
    display: flex;
    align-items: center;
    bottom:0;
    top:auto;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .section.hero .separate-txt-xs .hero-img .description .name{
    color: #000000;
    margin: 10px 0 15px 0;
  }
  .section.hero .separate-txt-xs .hero-img .short-name{
    color: #000000;
  }
  .section .description .action .first-btn{
    border-color: #000000;
    color: #000000;
  }
  .section .description .action .first-btn:hover{
    background-color: #000000;
    color: #ffffff;
  }
  .section .description.center-text{
    padding-top: 0;
  }
  .hero-img{
    margin-top: -2px;
    border-top: 1px solid #fff;
  }
  .f-size_hero .description .action{
    display: flex;
    align-items: left;
    flex-direction: column;
  }
  .section .description .action a{
    color: #000000;
    text-align: center;
    width: 188px;
  }
  .section.hero .separate-txt-xs .hero-img .description{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-top: 0;
    max-width: 320px;
  }
  .section.hero .separate-txt-xs .hero-img.bg-b .action a{
    width: 188px;
  }
  .section.hero .separate-txt-xs .hero-img .description.center-text span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
  }
  .section.hero .separate-txt-xs .hero-img .description.center-text span a:first-child{
    margin-right: 10px;
  }
  .hero-element  .separate-txt-xs .hero-img{
   max-height: 100%;
    .description{
      padding: 20px 20px 47px 20px;
      .name{
        font-size: 55px;
        letter-spacing: -0.2px;
      }
    }
    .description.center-text{
      max-width: 100%;
    }
    .description.center-text span.action{
      width: auto;
        a{
          padding: 0;
          height: 42px;
          width: 157px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
    }
    .description.base-element{
      right: 25px;
      max-width: 500px;
      span.action{
        a{
          width: 157px;
          height: 42px;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .name{
        font-size: 75px;
        line-height: 63px;
      }
    }
  }
  @media (max-width: 1150px){
    .hero-element .separate-txt-xs .hero-img .description.base-element{
      right: 0;
      max-width: 380px;
    }
    .hero-element .separate-txt-xs .hero-img .description.base-element .name{
      font-size: 55px;
    }
  }
  @media (max-width: 991px){
    .section .description .action .first-btn{
      margin-right: 0;
    }
  }
  @media (max-width: 767px){
    .section.hero .separate-txt-xs .hero-img .description.base-element{
      //margin: 0 auto;
      width: 100%;
      padding: 20px;
      align-items: flex-start;
    }
    .section.hero .separate-txt-xs .hero-img .description.base-element .name{
      margin: 0 0 17px 0!important;
      line-height: 1.0;
    }
    .section.hero .separate-txt-xs .hero-img .description.base-element span{
      flex-direction: initial;
      display: flex;
    }
    .section.hero .separate-txt-xs .hero-img img{
      width: 100%;
      height: auto;
      max-height: 100%;
    }
    .bg-b{
      background-color: #000000;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b{
      color: #ffffff;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .description .short-name,
    .section.hero .separate-txt-xs .hero-img.bg-b .description .name,
    .section.hero .separate-txt-xs .hero-img.bg-b .action a{
      color: #ffffff;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .action a{
      border-color: #ffffff;
    }
    .section.hero .separate-txt-xs .hero-img .description.center-text{
      padding: 20px;
      align-items: flex-start;
    }
    .section.hero .separate-txt-xs .hero-img .description{
      padding: 10px;
      align-items: center;
    }
    .section.hero .separate-txt-xs .hero-img .description .name{
      margin: 0 0 15px 0;
    }
    .nav-sections > .container{
      display: block;
    }
    .section .separate-txt-xs .description .action{
      text-align: center;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .description .name{
      text-align: center;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .action a.last-btn,   .section.hero .separate-txt-xs .hero-img .action a.last-btn{
      border-color: #4b4b4b;
    }
    .section .description .action .first-btn{
      margin-right: 10px;
    }
    .hero-element .separate-txt-xs .hero-img .description .name{
      font-size: 35px!important;
    }
  }
  @media (max-width: 440px){
    .section.hero .separate-txt-xs .hero-img .description.center-text{
      width: 100%;
      align-items: flex-start;
      transform: none;
      left: auto;
      margin: 0 auto;
    }
    .section.hero .separate-txt-xs .hero-img .description.center-text span a:first-child{
      margin-right: 0;
    }
    .section.hero .separate-txt-xs .hero-img .action a{
      font-size: 12px;
    }
    .section.hero .separate-txt-xs .hero-img .description{
      width: 300px;
      margin: 0 auto;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .description .name{
      text-align: left;
    }
    .section .separate-txt-xs .description .action{
      width: 300px;
      flex-direction: initial;
      display: flex;
    }
    .section .description .action .first-btn{
      margin-right: 0;
    }
    .section.hero .separate-txt-xs .hero-img.bg-b .action a, .section .description .action a{
      min-width: 140px;
    }
    .section .separate-txt-xs .description .action, .section.hero .separate-txt-xs .hero-img .description.center-text span{
      width: 280px;
    }
  }
  @media (max-width: 430px){
    .precatalog_headline .headline_h1{
      font-size: 40px;
    }
    .precatalog_headline{
      padding: 17px 0;
    }
  }
}
@media (max-width: 400px){
  .page-footer .copyrights .links a {
    font-size: 13pt;
    letter-spacing: 0.2px;
  }
}
@media (max-width: 350px){
  .page-footer .copyrights .links a {
    font-size: 11pt;
  }
}
/***************************Page HTML END**************************/