@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\000037}}
.all-block-catalog {
  border-bottom: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000310}}
.img-headline {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background-image: url("../img/catalog-img-headline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #c2c2c2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000323}}
.img-headline .catalog-headline_m {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 6px;
  letter-spacing: 0.6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000330}}
.img-headline .catalog-headline_b {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/******************SELECT**********************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000338}}
.block-select {
  width: 1200px;
  height: 85px;
  border-bottom: 1px solid #c2c2c2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000347}}
.all-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000352}}
.all-select p {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin-right: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000360}}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000365}}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000000;
  width: 180px;
  height: 40px;
  border: 1px solid #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000375}}
.select-styled {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 8px 15px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\0000388}}
.select-styled:after {
  content: "";
  display: block;
  width: 14px;
  height: 8px;
  background-image: url("../img/arrow-select.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003103}}
.select-styled:active:after,
.select-styled.active:after {
  border-color: transparent transparent #000000 transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003108}}
.select-styled.active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003111}}
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 180px;
  left: -1px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003125}}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003131}}
.select-options li[rel="hide"] {
  display: none;
}
/******************SELECT END**********************/
/**********************CATALOG PRODUCT*******************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003138}}
.wrap-catalog {
  width: 1200px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003142}}
.all-catalog_product {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003148}}
.all-catalog_product .product-element {
  width: 282px;
  height: 380px;
  margin-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003152}}
.all-catalog_product .product-element_img {
  width: 280px;
  height: 280px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003160}}
.all-catalog_product .product-element_img .btn-product {
  width: 160px;
  height: 35px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 39px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003176}}
.all-catalog_product .product-element_img .btn-product:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003179}}
.all-catalog_product .product-element_img img {
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003182}}
.all-catalog_product .product-element_img .prod-block {
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003186}}
.all-catalog_product .product-element_img .prod-none {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003194}}
.all-catalog_product .product-element_img:hover {
  border: 1px solid #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003197}}
.all-catalog_product .product-element_img:hover .btn-product {
  opacity: 1;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003201}}
.all-catalog_product .product-element_img:hover .prod-block {
  opacity: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003204}}
.all-catalog_product .product-element_img:hover .prod-none {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003207}}
.all-catalog_product .product-element .product-text {
  text-align: center;
  position: relative;
  height: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003211}}
.all-catalog_product .product-element .product-text .collection {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003220}}
.all-catalog_product .product-element .product-text .product-name {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.1px;
  padding-top: 36px;
  display: block;
  color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003228}}
.all-catalog_product .product-element .product-text .product-name:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003233}}
.all-catalog_product .product-element .product-text .product-money {
  font-size: 14px;
  color: #7d7d7d;
  margin-top: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003241}}
.product-stars {
  margin-top: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003244}}
.btn-more {
  width: 118px;
  height: 40px;
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  margin: 20px auto 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
/*********************POP UP************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003260}}
.mfp-content {
  background-color: #ffffff;
  padding: 50px 40px;
  max-width: 1280px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003266}}
.bg-pop_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003271}}
.block-popup_slider {
  width: 725px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003274}}
#example5 {
  padding-left: 110px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003277}}
.block-popup_info {
  width: 430px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003280}}
.popup_headline {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003287}}
.flex-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
  letter-spacing: 0.1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003293}}
.star-comment {
  color: #7d7d7d;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  font-size: 12px;
  display: block;
  margin-left: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003302}}
.popup-money {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 35px;
  letter-spacing: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003310}}
.select-img {
  width: 428px;
  height: 40px;
  border: 1px solid #e9e9e9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003315}}
.block-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003322}}
.color-element {
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
  margin-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003334}}
.color-element:nth-child(9n) {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003337}}
.borders_act {
  border: 1px solid #c7c7c7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003340}}
.img-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003346}}
.block-add_cart {
  height: 102px;
  margin-top: 23px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003356}}
.quantity-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003360}}
.quantity-block p {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003366}}
.quantity-block input {
  border: 1px solid #e9e9e9;
  width: 80px;
  height: 42px;
  position: relative;
  background-image: url("../img/grey-arrow.png");
  background-repeat: no-repeat;
  background-position: 46px 18px;
  font-size: 14px;
  color: #010101;
  margin-left: 12px;
  padding-left: 21px;
  padding-right: 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003381}}
.add-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003384}}
.add-element .btn-add_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 42px;
  background-color: #000000;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003394}}
.add-element .btn-add_cart img {
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003398}}
.add-element .wish-btn {
  display: block;
  background-image: url("../img/heart.png");
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  background-position: 0 0;
  margin-left: 30px;
  margin-right: 13px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003409}}
.add-element .wish-btn:hover {
  background-position: 0 -49px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003413}}
.popup_text-info {
  margin-top: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003416}}
.popup_text-headline {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003423}}
.popup_text-b {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 1.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003430}}
.link-see_full {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin-top: 33px;
  display: block;
  color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003439}}
.block-popup_info .wSelect-theme-classic.wSelect {
  width: 428px!important;
  height: 40px;
  border: 1px solid #e9e9e9;
  max-width: 100%;
  border-radius: 0;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003451}}
.block-popup_info .wSelect-theme-classic .wSelect-options-holder {
  width: 100%;
  max-width: 100%;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  border-top: 1px solid transparent;
  border-radius: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003460}}
.block-popup_info .wSelect-option-value {
  background-size: 19px;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003464}}
.block-popup_info .wSelect-selected {
  padding: 9px 0;
  margin: 0px 35px 0px 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003468}}
.block-popup_info .wSelect-option-icon {
  padding-left: 28px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003473}}
.block-popup_info .wSelect-options {
  max-height: 250px!important;
  height: 160px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003477}}
.block-popup_info .wSelect-theme-classic .wSelect-options {
  border-radius: 0;
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003481}}
.block-popup_info .zoomContainer {
  z-index: 999999!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003485}}
.zoomWindow {
  width: 460px;
  height: 450px;
  border: none!important;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  top: 70px!important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/media\/elogic\/Dev_files\/Projects\/Trish-McEvoy\/assets\/less\/catalog\.less}line{font-family:\00003492}}
.zoomWindowContainer {
  cursor: pointer;
}
/*********************POP UP END************/
/**********************CATALOG PRODUCT END*******************/
/*# sourceMappingURL=catalog.css.map */